{% extends 'index.html' %}
{% load static %}

{% block content %}
{% csrf_token %}

<div class='about'>
    <h2>Hekayəmiz</h2>
    <br>
    <p class='wordabout'>ÖzSüt-ün hekayəsi İzmir Kemeraltında 16 kv. metrlik bir məkanda başlayıb. Daha sonra Səfər ustanın yolu Osmanlı sarayından çıxan bir usta ilə kəsişir. Bu 1938-ci ilə təsadüf edir. Səfər usta bu torpaqlarla yoğrulmuş ənənəvi qənnadı sirrlərini  ÖzSüt-ün yaddaşına bir-bir həkk etməyi bacarır. O gün açılan qapı bir daha heç vaxt bağlanmır.</p>
    <br><br>
    <img src="https://ozsut1.owbike.com/uploads/apps/owphoto/1280xauto/7bca53t3o5vru296oe14.png" class="img-fluid" alt='#'><br><br>
    <div class="centered">Zəngin və fərqli menyumuzla Sizi və bütün qonaqlarımızı
        82 ildən sonra da eyni diqqət və qayğıyla qarşılayırıq.</div>
    <br><br>
    <h2>Dəyərlərimiz</h2>
    <br>
    <p class='wordabout'>Şirniyyatlarımıza ancaq özəl fermalardan gələn təzə günlük süd qatırıq. Südlü şirniyyatlarımızın ləzzəti və toxuması məxsusi dəyirmanlarda düyünü üyüdərək hazırladığımız sübyedən gəlir. Tortlarımızda sadəcə real reseptlərlə və diqqətlə hazırladığımız kremlərimizi istifadə edirik. Dondurmalarımıza, tortlarımıza rəngarəngliyi ölkənin parlaq günəş altında yetişən təravətli, təzə meyvələri verir.</p>
    <br><br>
   


</div>
{% endblock  %}