{% extends 'index.html' %}
{% load static %}

{% block content %}
{% csrf_token %}
<br><br>
<h1 class='sector'>Şöbələr</h1>
<br><br>

      <div class="row">
        <div class="col-3">
          Özsüt Fəvvarələr Meydanı
          Tərlan Əliyarbəyov küç. 14
          Əlaqə: +994 (70) 314 00 11
        </div>
        <div class="col-2">
          Elmlər şöbəsi
          Mətbuat pr., M. Seyidov küç.(İlahiyyat məscidinin yanındakı parkda)
          Əlaqə: +994(51)351-00-11
        </div>
        <div class="col-2">
          Gənclik Mall şöbəsi
          Gənclik Mall
          Fətəli Xan Xoyski küç.14 
          Əlaqə: +994 (77) 351 00 11
        </div>
        <div class="col ">
          Qış parkı şöbəsi
          Füzuli küç.47
          Əlaqə: +994(77) 341-00-11
          </div>
          
          <div class="col">
          Atatürk parkı şöbəsi
          Gənclik m/st-nın çıxışı
          Əlaqə: +994(70)311-00-11
            </div>
      </div>
    </div>
<br><br><br>
<img src="https://ozsut.az/uploads/apps/owphoto/1920x729/etz65s161oo024bh730su.png" class="img-fluid" alt="...">
<br><br>
{% endblock  %}